@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-midnight text-sm sm:text-base;
  }
  h1 {
    @apply text-2xl sm:text-3xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
  .underline-text {
    @apply relative inline-block overflow-hidden align-bottom;
  }
  .underline-text::after {
    @apply bg-gradient-to-r from-midnight to-midnight w-[400%] absolute content-[''] bottom-[0.08rem] left-0 h-[0.09rem];
  }
  .underline-text:hover::after {
    @apply from-[#3A1C71] to-[#FFAF7B] animate-[gradient_4s_linear_infinite];
  }
  .box {
    @apply border border-midnight p-4 shadow-[5px_5px_0px_0px_rgba(34,57,86,1)];
  }
}

/* react-folder-tree */
.TreeNode {
  display: flex;
  align-items: center;
}
.TreeNode:not(:last-child) {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.TreeNode:first-child {
  text-transform: uppercase;
}
.iconContainer {
  display: flex;
  margin-left: 5px;
}